
/* Just some basic styles for the example.php file - 
   you should probably style it however you like and 
   ignore this file. */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

.twitter-aggregator {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    border: 1px solid #aaa;
    max-height: 500px;
    max-width: 500px;
    overflow-y: scroll;
}

.twitter-aggregator-tweet {
    color: #666;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.twitter-aggregator-tweet a {
    color: #38914a;
    text-decoration: none;
}

.twitter-aggregator-tweet a:hover {
    text-decoration: underline;
}

.twitter-aggregator-tweet-profile-pic {
    float: left;
    margin: 0 10px 10px 0;
}

.twitter-aggregator-tweet-profile-name {
    font-size: 17px;
    line-height: 28px;
    margin: 0;
    font-weight: 700;
}

.twitter-aggregator-tweet-time {
    font-size: 14px;
    line-height: 20px;
    color: #aaa;
}

.twitter-aggregator-tweet-text {
    clear: left;
    font-size: 14px;
    line-height: 20px;
}

